<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="fileFatal"
            xsi:type="File"
            fileName="logs/fatal_${callsite:className=true:methodName=true:includeNamespace=false}_${date:format=yyyy-MM-dd}.txt"
            layout="${date:format=HH\:mm\:ss.fff} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}"
            archiveAboveSize ="1000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="20"/>
    <target name="fileError"
            xsi:type="File"
            fileName="logs/error_${callsite:className=true:methodName=true:includeNamespace=false}_${date:format=yyyy-MM-dd}.txt"
            layout="${date:format=HH\:mm\:ss.fff} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}"
            archiveAboveSize ="1000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="20"/>
    <target name="fileInfo"
            xsi:type="File"
            fileName="logs/info_${callsite:className=true:methodName=true:includeNamespace=false}_${date:format=yyyy-MM-dd}.txt"
            layout="${date:format=HH\:mm\:ss.fff} ${level:upperCase=true}: ${message}"
            archiveAboveSize ="1000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="5"/>
    <target name="warnInfo"
            xsi:type="File"
            fileName="logs/warn_${callsite:className=true:methodName=true:includeNamespace=false}_${date:format=yyyy-MM-dd}.txt"
            layout="${date:format=HH\:mm\:ss.fff} ${level:upperCase=true}: ${message}"
            archiveAboveSize ="1000000"
            archiveNumbering="Rolling"
            maxArchiveFiles="5"/>


    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}">

      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>

    </target>
    
    <target name="debugout" xsi:type="Debugger"/>
    
    </targets>

  <rules>
 
    <!--<logger name="*" minlevel="Debug" writeTo="console, debugout"/>-->
    
    <logger name="*" level="Fatal" writeTo="fileFatal" >
      <filters>
        
      </filters>
    </logger>
    <logger name="*" level="Error" writeTo="fileError" >
      <filters>
        
      </filters>
    </logger>
    <!--<logger name="*" level="Warn" writeTo="warnInfo" >
      <filters>
        
      </filters>
    </logger>-->
    <!--<logger name="*" levels="Info" writeTo="fileInfo" />-->
  </rules>
</nlog>
