<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <configSections>

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings>

    <!--<add key="MediaToolkitPath" value="..\" />-->

  </appSettings>

  <system.diagnostics>
    <!--<trace autoflush="false" />-->
    <trace useGlobalLock="false" />

    <sources>

      <source name="MediaToolkit" switchValue="Verbose">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>

      <source name="MediaToolkit.ScreenCaptures" switchValue="Verbose">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
      
      <source name="MediaToolkit.UI" switchValue="Verbose">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>

      <source name="MediaToolkit.MediaFoundation" switchValue="Verbose">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>

      <source name="MediaToolkit.FFmpeg" switchValue="Verbose">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>

    </sources>

    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog" />
    </sharedListeners>

  </system.diagnostics>
  
  

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="NlogInternal.txt" internalLogLevel="ERROR">

    <!--
      <variable name="LogDirectory" value="${var:LogDir}"/>    
      <variable name="LogDirectory" value="${specialfolder:folder=CommonApplicationData}/Polywall/ScreenStreamer.Wpf.App"/> 
    -->

    <variable name="LogDirectory" value="${var:AppConfigPath}" />
    
    <targets>

      <target name="logfile" xsi:type="File" FileName="${LogDirectory}/logs/log.txt" archiveEvery="Day" archiveFileName="${LogDirectory}/logs/Archives/{#}.txt" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="7" />
      
      <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}">
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>

      <target name="debugout" xsi:type="Debugger" />


      <!--<target name="richtext" xsi:type="RichTextBox"/>-->
      <!--<target name="textbox" xsi:type="RichTextBox" 
                controlName="LoggerTextBox"
                formName="MainForm" 
                layout="${message} ${newline}"
                autoScroll="true"
                maxLines="1000">
        </target>
        -->

    </targets>

    <rules>

      <!--
            <logger name="*" minlevel="Debug" writeTo="console"/>
            <logger name="*" minlevel="Debug" writeTo="logfile"/>
      -->
      <!--<logger name="*" minlevel="Debug" writeTo="console"/>-->
      <logger name="*" minlevel="Info" writeTo="logfile" />

    </rules>
  </nlog>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  
  <runtime>
  
  
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
  
  
                  </dependentAssembly>
  
  
          </assemblyBinding>
  
  
  </runtime>
</configuration>